body {
    font-family: 'Montserrat';
    text-align: center;
}

h1,
h2,
h3 {
    font-family: 'Montserrat';
    font-weight: 900;
}

p {
    color: #8f8f8f;
}

.coloured-section {
    background-color: #41aaa8;
    color: white;
}

.white-section {
    background-color: white;
}


/* Heading */

.big-heading {
    font-family: 'Montserrat';
    font-weight: 900;
    font-size: 3.5rem;
    line-height: 1.5;
}

.container-fluid {
    padding: 7% 15%;
}

#features {
    align-content: center;
    position: relative;
    z-index: 1;
}

.feature-box {
    padding: 4.5%;
}

.icon {
    color: #41aaa8;
    margin-bottom: 1rem;
}

.icon:hover {
    color: #ff4c68;
}


/* Title Section */

#title {
    text-align: left;
}

#title .container-fluid {
    padding: 3% 15%;
}


/* Navigation Bar */

.navbar {
    padding: 0 0 4.5rem 0;
}

.navbar-brand {
    font-family: 'Ubuntu';
    font-size: 2.5rem;
    font-weight: bold;
}

.nav-link {
    padding: 0 18px 0 18px!important;
    font-size: 1.2rem;
    font-weight: 300;
}


/*TESTEMONIALS*/

.testimonial-text {
    font-size: 2rem;
    line-height: 1.5;
    padding: 0% 10% 0 10%;
}

.testimonial-image {
    width: 10%;
    border-radius: 100%;
    margin: 20px;
}


/* PRICING */

.price-section-text {
    font-size: 3rem;
    line-height: 1.5;
}

.price-text {
    font-size: 3rem;
    line-height: 1.5;
}

#pricing {
    padding: 5% 10%;
}


/* PRESS */

#press {
    padding: 5% 15%;
    background-color: #ef8172;
}

.press-logo {
    width: 90%;
    padding: 10%;
}


/* Buttons */

.download-button {
    margin: 5% 3% 5% 0%;
}


/* Images */

.title-image {
    width: 60%;
    margin-left: 15%;
}


/* Call To Action */

#cta {
    padding: 5% 15%;
}

.cta-button {
    margin: 5% 3% 0%;
}

#footer {
    padding: 2%;
}

.s-media {
    margin: 1%;
}

@media(max-width: 1028px) {
    .title-image {
        position: static;
        transform: rotate(0deg);
        width: 40%;
    }
    #title {
        text-align: center;
    }
    .testimonial-text {
        padding: 0%;
    }
}